node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
HTML/dist/*
HTML/cache/*
HTML/build/*
HTML/.cache/*
HTML/node_modules
WebViewLeaflet/dist/*
WebViewLeaflet/cache/*
WebViewLeaflet/build/*
WebViewLeaflet/.cache/*
WebViewLeaflet/node_modules
secrets.js
secrets.ts
/HTML/precompile
/HTML/readyForBuild
/HTML/.cache