node_modules/**/*
.expo/*
npm-debug.*
*.ppt*
build/**/*
dist/**/*
web
assets/*.png
.babelrc
.watchmanconfig
App.js
app.json
expo-qr-code.png
gulpfile.json
webpack.config.js
yarn*
gulpfile.js
__tests__
__mocks__