node_modules/**/*
.expo/*
npm-debug.*
*.ppt*
build/**/*
dist/**/*
web
.babelrc
.watchmanconfig
App.js
app.json
expo-qr-code.png
gulpfile.json
webpack.config.js
yarn*
gulpfile.js
__tests__
__mocks__
secrets
locations.js
lib
secrets.js
setupTests.js