/*General marker style*/
.marker {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  position: relative;
}

/* div containing the marker parent */
.clearMarkerContainer {
  background-color: rgba(57, 57, 216, 0);
  display: flex;
  justify-content: center;
}

/* div containing all the animated portions of the marker */
.animationContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@keyframes bounce {
  0% {
    transform: scale(1, 0.8) translateY(10px);
  }
  45% {
    transform: scale(0.8, 1) translateY(-27px);
  }
  50% {
    transform: scale(0.8, 1) translateY(-30px);
  }
  55% {
    transform: scale(0.8, 1) translateY(-27px);
  }
  100% {
    transform: scale(1, 0.8) translateY(10px);
  }
}

@keyframes fade {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes jump {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-2em);
  }
}

@keyframes waggle {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(-20deg) scale(1.2);
  }
  60% {
    transform: rotateZ(25deg) scale(1.2);
  }
  67.5% {
    transform: rotateZ(-15deg) scale(1.2);
  }
  75% {
    transform: rotateZ(15deg) scale(1.2);
  }
  82.5% {
    transform: rotateZ(-12deg) scale(1.2);
  }
  85% {
    transform: rotateZ(0) scale(1.2);
  }
  100% {
    transform: rotateZ(0) scale(1);
  }
}

@keyframes spin {
  50% {
    transform: rotateZ(-20deg);
    animation-timing-function: ease;
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes beat {
  to {
    transform: scale(0.7);
  }
}
